:root {
  --line: 0.5px solid rgba(255, 0, 0, 0.431);
  --thumb-line: 0px 0px 0px 1px rgba(255, 0, 0, 0.431);
  --bg-dark: rgba(0, 0, 0, 0.733);
}

$bp-largest: 78.125em; //1200px / 16
$bp-larger: 65.625em; //1050px / 16
$bp-large: 59.375em; //950px / 16
$bp-med: 54.375em; //870px / 16
$bp-sm: 37.5em; //600px / 16

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Chakra Petch", sans-serif;
  background-color: rgb(0, 0, 0);
  color: red;
  // background-image: url("../public/img/black-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.link {
  color: rgb(20, 167, 216);
  text-decoration: none;
  z-index: 3000;
}

.link:visited {
  color: rgb(43, 93, 233);
}

.link:active {
  color: rgb(19, 121, 143);
}

.image-blur-edge {
  filter: drop-shadow(1rem 1rem 1rem #000000);
}

.nav__list__item {
  font-size: 4rem;
  cursor: pointer;
  background-color: var(--bg-dark);
  border: none;
}

// .main{
//     transform: scale(1.02) rotateX(2deg);
//   transform-origin: center;

// }


.crt-body {
  background-color: #000;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow:
    inset 0 0 30px rgba(219, 53, 53, 0.2), // inner glow
    inset 0 0 10px rgba(255, 0, 0, 0.1);   // outer glow
  border: 2px solid rgba(255, 0, 0, 0.3);
  position: relative;
  perspective: 1000px;

}

.crt-body::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 0.1) 0%, transparent 30%);
  pointer-events: none;
  z-index: 1;
}

.crt-body::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    rgbargba(255, 0, 0, 0.05),
    rgbargba(255, 0, 0, 0.05) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
  z-index: 2;
}

body {
  border-radius: 2rem;
  // overflow: hidden;
}