.container {
  padding: 3rem;
  border-radius: 1rem;
  border-bottom: var(--line);
  @media only screen and (max-width: $bp-large) {
    padding: 2rem;
  }
  @media only screen and (max-width: $bp-med) {
    padding: 1.5rem;
  }
  @media only screen and (max-width: $bp-sm) {
    padding: 1rem;
  }
}

.content {
  width: 90%;
  flex: 0 0 100%;

  @media only screen and (max-width: $bp-large) {
    width: 85%;
  }
  @media only screen and (max-width: $bp-med) {
    width: 95%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.about {
  border-bottom: var(--line);
  margin-bottom: 5rem;
}

.navbar {
  background-color: var(--bg-dark);
  top: 0;
  z-index: 1000;
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 7rem;
  border-bottom: var(--line);
  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: $bp-large) {
    margin-bottom: 2rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  @media only screen and (max-width: $bp-large) {
    justify-content: center;
  }
}

.bottom__bar {
  display: flex;
  justify-content: space-around;
}

/* works */

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works__links {
  width: 100%;
  justify-content: center;
  display: flex;

  @media only screen and (max-width: $bp-large) {
    flex-wrap: wrap;
  }
  margin: 5rem 0;
  @media only screen and (max-width: $bp-large) {
    margin: 3rem 0;
  }
  height: 100%;

  &__cont {
    width: 275px; /* Adjust to your needs */
    margin: 2rem;
    @media only screen and (max-width: $bp-large) {
      margin: 1rem;
    }

    border: var(--line);
    border-radius: 1rem;
    align-content: center;
    padding: 2rem;
  }
}

//////////////////////////////////////
/// Contact
///

.contact {
  padding: 2rem;
}

.contact__form {
  width: 30vw;
  margin-bottom: 5rem;
}

// Copyright

.bottom__bar {
  display: flex;
  width: 100%;
  align-items: end;
  height: 5vh;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.5rem;
  padding: 4rem 0;
  background-color: var(--bg-dark);
}
