*,
*::after,
*::before {
  margin: 0;
  padding: 0.3rem 0.3rem 0 0.3rem;
  box-sizing: border-box;
}

body {
  font-family: "Orbit", sans-serif;
  background-color: rgb(0, 0, 0);
  margin: 0;
  color: red;
}
body::after {
  content: "";
  background-image: url("public/img/spokes.jpeg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
}

button {
  cursor: pointer;
  width: 50%;
  align-self: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: red;
  text-decoration: none;
}

.text_space {
  padding-bottom: 0.5rem;
}

.small_link:hover {
  border-bottom: 1px solid black;
}

.corner {
  font-size: 1.4rem;
}

.link:hover {
  filter: drop-shadow(0 1px 3px);
  cursor: pointer;
  color: red;
}
.main {
  display: grid;
  grid-template-columns: 40vw 55vw;
  height: 85vh;
  align-content: center;
}

.top__bar {
  display: flex;
  width: 100%;
  align-items: end;
  height: 5vh;
}

.bottom__bar {
  display: flex;
  width: 100%;
  align-items: end;
  height: 5vh;
}

.name {
  display: flex;
  width: 50vw;
  align-items: center;
}

.links__top__right {
  display: flex;
  width: 50vw;
  flex-direction: row-reverse;
  align-items: center;
}

.home {
  display: flex;
  width: 50vw;
  flex-direction: row-reverse;
  align-items: center;
}

.copyright {
  display: flex;
  width: 50vw;
  align-items: center;
}

/* Contact form */

.contact {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.input {
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: rgb(66, 66, 63);
  width: 100%;
}

/* Contact Submit Button DIV */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Contact Submit Button */

.submit_btn {
  border-radius: 4px;
  font-family: inherit;
  color: red;
  border-width: 1px;
  border-color: red;
  background-color: rgb(66, 66, 63);
  padding: 0.5rem;
}

/* About me content */

.about {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

/* works */

.works {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  padding-bottom: 1.5rem;
  /* width: fit-content; */
}

/* Main left menu */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
}

/* Box where content appears */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.image-blur-edge {
  filter: drop-shadow(1rem 1rem 1rem #000000);
}

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .content {
    justify-content: start;
    padding-top: 3rem;
  }
  .top__bar {
    font-size: 0.8rem;
  }
  .bottom__bar {
    font-size: 0.8rem;
  }
  .contact {
    height: 70vh;
  }
  .about {
    font-size: 0.8rem;
  }
  .works {
    font-size: 0.8rem;
  }
}

.hidden {
  display: none;
}

/* Link Effect */
.link_glitch {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.link_glitch:before,
.link_glitch:after {
  content: attr(title);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 4px;
}

.link_glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2% {
    transform: translate(13px, -1px) skew(-13deg);
  }
  64% {
    transform: translate(9px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.link_glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2% {
    transform: translate(-22px, 2px) skew(21deg);
  }
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 2px) skew(21deg);
  }
}

/* -----------------------FADE IN CONTENT------------ */

.fade_in {
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
