*,
*::after,
*::before {
  margin: 0;
  padding: 0.3rem;
  box-sizing: border-box;
}
body {
  font-family: "Orbit", sans-serif;
  background-color: rgb(0, 0, 0);
  margin: 0;
  color: red;
}

body::after {
  content: "";
  background-image: url("img//spokes.jpeg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: grid;
  grid-template-columns: 40vw 55vw;
  height: 90vh;
}

.links__top {
  display: flex;
  flex-direction: row-reverse;
}

.menu {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.copyright {
  display: flex;
  max-height: fit-content;
  padding-left: 1rem;
  align-items: end;
}
